/* MEDIA QUERIES

0 - 600px:      Phones
601px-900px:    Tablet Portrait
901px-1200px:   Tablet landscape
1201px-1800px:  Normal styles
1801px+         Big desktops

$breakpoint arguments:
- phone
- tab-port
- tab-land
- big-desktop


ORDER OF WORK: Base + Typography > general layout + grid > page layout > components
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.7rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.7rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  html ::selection {
    background-color: #55c57a;
    color: #fff; }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    margin-right: -3rem;
    animation: moveInLeft 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.6rem;
    margin-right: -1.6rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.7rem;
        letter-spacing: 1rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewX(-20deg) skewY(-3deg) scale(0.9); }

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase; }

.paragraph:not(:last-child) {
  margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-t-large {
  margin-top: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-t-large {
      margin-top: 6rem !important; } }

.u-margin-t-extra-large {
  margin-top: 10rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-t-extra-large {
      margin-top: 10rem !important; } }

.u-margin-b-large {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-b-large {
      margin-bottom: 5rem !important; } }

.u-margin-b-med {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-b-med {
      margin-bottom: 2rem !important; } }

.u-margin-b-small {
  margin-bottom: 1rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 300ms ease-in-out;
  position: relative;
  border: none;
  cursor: pointer; }

.btn--animated {
  animation: moveInUp 400ms ease-out 750ms;
  animation-fill-mode: backwards; }

.btn:hover, .btn:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  outline: none; }
  .btn:hover::after, .btn:focus::after {
    transform: scaleX(1.5) scaleY(1.8);
    opacity: 0; }

.btn:active {
  transform: translate(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 400ms; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid #55c57a;
  transition: all 0.2s; }

.btn-text:hover, .btn-text:focus {
  border-bottom-color: transparent;
  transform: translateY(-3px);
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  outline: none; }

.btn-text:active {
  transform: translate(-1px);
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.image-composition {
  position: relative;
  height: 35rem; }
  @media (max-width: 56.25em) {
    .image-composition {
      height: auto; } }
  .image-composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    outline: 0 solid transparent;
    outline-offset: 1rem;
    transition: all 0.3s ease-in-out 0.1s; }
    @media (max-width: 56.25em) {
      .image-composition__photo {
        float: left;
        position: relative;
        width: 33.3333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .image-composition__photo:hover {
      z-index: 10;
      transform: scale(1.2);
      outline: 1rem solid #55c57a;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.3); }
    .image-composition__photo--p1 {
      left: 0;
      top: 0; }
      @media (max-width: 56.25em) {
        .image-composition__photo--p1 {
          top: 0;
          transform: scale(1.15); } }
    .image-composition__photo--p2 {
      right: 0;
      top: 10%; }
      @media (max-width: 56.25em) {
        .image-composition__photo--p2 {
          top: 0;
          left: 0;
          transform: scale(1.3);
          z-index: 20; } }
    .image-composition__photo--p3 {
      left: 15%;
      top: 40%; }
      @media (max-width: 56.25em) {
        .image-composition__photo--p3 {
          top: 0;
          left: 0;
          transform: scale(1.15); } }
  .image-composition:hover .image-composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2.5rem;
      margin: 0 12rem; } }
  @media (max-width: 37.5em) {
    .feature-box {
      padding: 2rem;
      margin: 0; } }
  .feature-box__icon {
    display: inline-block;
    font-size: 7rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        padding: 2rem;
        line-height: 0.5; } }
  .feature-box__text {
    display: inline-block;
    height: 15rem;
    overflow: hidden; }
    @media (max-width: 56.25em) {
      .feature-box__text {
        height: auto;
        padding-bottom: 1rem; } }
  .feature-box:hover {
    transform: translateY(-1.3rem); }

.price-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 53rem;
  /*

    MEDIA QUERY FOR TOUCH DEVICES TO CHANGE APPEARANCE

    */ }
  .price-card__side {
    height: 53rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .price-card__side--front {
      background-color: #fff; }
    .price-card__side--back {
      transform: rotateY(180deg); }
      .price-card__side--back--orange {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .price-card__side--back--green {
        background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
      .price-card__side--back--blue {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .price-card:hover .price-card__side--front {
    transform: rotateY(180deg); }
  .price-card:hover .price-card__side--back {
    transform: rotateY(360deg); }
  .price-card__picture {
    height: 23rem;
    background-size: cover;
    background-position: top center;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%); }
    .price-card__picture--1 {
      background-image: url(../img/nat-5.jpg), linear-gradient(to bottom right, #ffb900, #ff7730);
      background-blend-mode: screen; }
    .price-card__picture--2 {
      background-image: url(../img/nat-6.jpg), linear-gradient(to bottom right, #7ed56f, #28b485);
      background-blend-mode: darken; }
    .price-card__picture--3 {
      background-image: url(../img/nat-7.jpg), linear-gradient(to bottom right, #2998ff, #5643fa);
      background-blend-mode: screen; }
  .price-card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .price-card__heading-span {
    padding: 1rem 2rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .price-card__heading-span--orange {
      background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .price-card__heading-span--green {
      background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .price-card__heading-span--blue {
      background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .price-card__details ul {
    padding: 3rem;
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .price-card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .price-card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .price-card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .price-card__price-box {
    color: #fff;
    text-align: center;
    margin-bottom: 6rem; }
  .price-card__price-only {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .price-card__price-value {
    font-size: 6rem;
    font-weight: 300; }
  @media (max-width: 56.25em) {
    .price-card {
      margin: 0 7rem;
      -webkit-perspective: 150rem;
      perspective: 150rem;
      -moz-perspective: 150rem;
      position: relative;
      height: auto;
      border-radius: 0.5rem;
      background-color: #fff;
      -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .price-card__side {
        height: auto;
        position: relative;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .price-card__side--back {
          -webkit-transform: rotateY(0);
          transform: rotateY(0);
          -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%); }
      .price-card:hover .price-card__side--front {
        -webkit-transform: rotateY(0);
        transform: rotateY(0); }
      .price-card:hover .price-card__side--back {
        -webkit-transform: rotateY(0);
        transform: rotateY(0); }
      .price-card__details ul {
        padding: 1rem; }
      .price-card__cta {
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
        width: 100%;
        padding: 5rem; }
      .price-card__price-box {
        margin-bottom: 2rem; }
      .price-card__price-value {
        font-size: 6rem;
        font-weight: 300; } }
  @media (max-width: 37.5em) {
    .price-card {
      margin: 0; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-15deg); }
  .story:not(:last-child) {
    margin-bottom: 8rem; }
  @media (max-width: 37.5em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 6rem;
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(15deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-1rem) skewX(0); } }
  .story__image {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.3);
    transition: all 0.3s ease-in-out; }
  .story__text {
    transform: skewX(15deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(3px) brightness(85%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:first-child) {
  margin-top: 2rem; }
  @media (max-width: 75em) {
    .form__group:not(:first-child) {
      margin-top: 1rem; } }

.form__input {
  width: 90%;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border: none;
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.5s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  display: block;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  transition: all 0.3s;
  transform: translateY(-8rem); }
  .form__label--green {
    color: #28b485; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 37.5em) {
    .form__radio-group {
      width: 100%; }
      .form__radio-group:not(:last-child) {
        margin-bottom: 1rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem; }

.form__radio-button {
  height: 2rem;
  width: 2rem;
  border: 3px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: #55c57a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.1s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transform: translateX(-100%);
  transform-origin: left;
  transition: opacity 0.6s, transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 2.2;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.5s;
  backface-visibility: hidden; }
  @media (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      padding: 1rem 2rem;
      margin-top: 1rem;
      font-size: 2.2rem;
      line-height: 1.5; } }

.navigation__link:hover, .navigation__link:focus {
  color: #55c57a;
  transform: translateX(1rem);
  background-position-x: 100%; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(120); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  transform: scale(1); }

.navigation__icon {
  position: relative;
  margin-top: 3.4rem;
  width: 2.2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    width: 3rem;
    position: absolute;
    right: -4px;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
    top: 0;
    transform: scale(0.9) rotate(135deg); }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    top: 0;
    transform: scale(0.9) rotate(-135deg); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top center;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%); }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
      clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 128rem;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .row {
      max-width: 115rem;
      padding: 0 5rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 75rem;
      padding: 0 5rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 60rem;
      padding: 0 5rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc((2*(100% - 6rem * 2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 6rem * 3) / 4) + (2 * 6rem)); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 6rem 0; } }
  .footer__logo-box {
    padding-bottom: 7rem;
    text-align: center; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        padding-bottom: 6rem; } }
  .footer__logo {
    width: 15rem; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    text-transform: uppercase; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    transform: translateY(-5px) scale(1.1); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    float: right;
    color: #f7f7f7; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        float: none;
        text-align: center; } }

.css-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s; }
  .css-modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all 0.2s 0.2s; }
    @media (max-width: 75em) {
      .css-modal__content {
        display: block;
        width: 85%; } }
  .css-modal__left {
    width: 33.3333333%;
    display: table-cell; }
    @media (max-width: 56.25em) {
      .css-modal__left {
        display: none; } }
  .css-modal__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media (max-width: 56.25em) {
      .css-modal__right {
        width: 100%; } }
    @media (max-width: 37.5em) {
      .css-modal__right {
        padding: 2rem 3rem; } }
  .css-modal__image {
    display: block;
    width: 100%; }
    @media (max-width: 37.5em) {
      .css-modal__image {
        display: none; } }
  .css-modal__text {
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
    @media (max-width: 56.25em) {
      .css-modal__text {
        column-count: 1; } }
  .css-modal__close:link, .css-modal__close:visited {
    display: inline-block;
    color: #777;
    position: absolute;
    top: 4.5rem;
    right: 4.5rem;
    text-decoration: none;
    line-height: 1;
    font-size: 3rem;
    transition: all 0.2s; }
    @media (max-width: 37.5em) {
      .css-modal__close:link, .css-modal__close:visited {
        top: 2.5rem;
        right: 3rem; } }
  .css-modal__close:hover, .css-modal__close:focus {
    color: #55c57a; }
  .css-modal:target {
    opacity: 1;
    transform: translateX(0); }
  .css-modal:target .css-modal__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 25rem 0;
      margin-top: -15vh; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 20rem 0;
      margin-top: -15vh; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to top right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  margin-top: -12rem;
  background-size: cover;
  background-position: bottom center;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 13rem 0; } }
  @media (max-width: 37.5em) {
    .section-features {
      padding: 10rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0;
  margin-top: -12rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 5rem 0; } }

.section-stories {
  padding: 10rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 5rem 0; } }

.section-booking {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 6rem; }
  @media (max-width: 75em) {
    .book {
      background-size: cover; }
      .book__form {
        width: 50%;
        padding: 3rem; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%), url(../img/nat-10.jpg); }
      .book__form {
        width: 100%;
        padding: 3rem; } }
