.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }
        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right : 6.5rem; 
        background: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }
        @include respond(phone) {
            top: 3.5rem;
            right: 3.5rem;
        }
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        // Hide in the initial state
        opacity: 0;
        transform: translateX(-100%);
        transform-origin: left;
        transition: opacity 0.6s, 
                    transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        @include absoluteCenter;
        list-style: none;
        text-align: center;
    }


    &__link {
        &:link,
        &:visited {
            display: inline-block;
            padding: 1rem 2rem;
            font-size: 3rem;
            font-weight: 300;
            line-height: 2.2;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            //  Hover effect
            background: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all 0.5s;
            backface-visibility: hidden;

            @include respond(phone) {
                padding: 1rem 2rem;
                margin-top: 1rem;
                font-size: 2.2rem;
                line-height: 1.5;
            }
        }
        
        &:hover,
        &:focus {
            color: $color-primary;
            transform: translateX(1rem);
            //  Slide the background to the left by changing its position
            background-position-x: 100%;
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(120);
    }

    &__checkbox:checked ~ &__nav {
        
        // show the navigation
        opacity: 1;
        transform: scale(1);
    }


    // ICON Element
    &__icon {
        position: relative;
        margin-top: 3.4rem;
        width: 2.2rem;

        &,
        &::before,
        &::after {
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            width: 3rem;
            position: absolute;
            right: -4px;
            transition: all 0.2s;
        }

        &::before { top: -0.8rem; }

        &::after { top: 0.8rem; }

    }

    &__button:hover &__icon::before { top: -1rem; } 
    &__button:hover &__icon::after { top: 1rem; } 

    &__checkbox:checked ~ &__button &__icon {
        background-color: transparent;

        &::before {
            top: 0;
            transform: scale(0.9) rotate(135deg);
        }

        &::after {
            top: 0;
            transform: scale(0.9) rotate(-135deg);
        }
    }
}